.white{color: white;}
.gray{color: #D5D5D5;}
.red{color: #FF0000;}
.navy{background-color:#002266;}
.margintop{margin-top: 75px;}
.margintop2{margin-top: 150px;}
.center{text-align:center;}
.pointer{cursor: pointer;}