.hei {
	height: 300px;
}

.hei2 {
	height: 400px;
}

.marginleft {
	margin-left:290px;
}

.marginleft20 {
	margin-left:20px;
}

.disabled {
	background-color: #eee;
	pointer-events: none;
}

.center {
	text-align: center;
}

.black {
	color: black;
}