.hei {
	height: 300px;
}

.hei2 {
	height: 400px;
}

.marginleft {
	margin-left:210px;
}

.marginleft20 {
	margin-left:20px;
}

.center {
	text-align: center;
}

.black {
	color: black;
}